.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos th {
    background-color: #2e1052cc;
    color: #fff;
    font-weight: 500;
}

.TabelaProdutos .Par {
    background-color: #dddddd;
    color: rgba(142, 148, 142, 0.877);
}

.TabelaProdutos .Impar {
    background-color: #f1f1f1;
    color: blue;
}

